/* --------------------envios--------------------------------- */

.contenedorEnvios{
    display: grid;
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-color: $colorSecciones;
    background-image: url(../img/foto1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    align-content: center;
    justify-content: center;
}

.formularioEnvios{
    min-height: 500px;
    width: 100%;
    background-color: rgba(45, 44, 53, 0.712);
    color: white;
    font-family: 'Shippori Antique', sans-serif;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



/* --------------------envios--------------------------------- */