/* -------------------footer---------------------------- */

footer{
    background-color: $colorNavegador;
    height: 100px;
    font-family: $fuente;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & .textoFooter{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 15px;
    }
    & ul{
        width: 80%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        & li{
            color: white;
            list-style-type: none;
            font-size: 12px;
            .icon{
                color: white;
                font-size: 30px;
            }
            .icon:hover{
                color: #aceeff;
            }
        }
    }
    
}




/* -------------------footer---------------------------- */