.nosotros{
    min-height: calc(100vh - 100px);
    background-color: $colorSecciones;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
        & .contenedorNosotros{
            & .imagenesNosotros:hover{
                transition: 0.5s ;
                filter: contrast(80%);
            }
            & .nombres{
                color: white;
                font-family: $fuente;
                font-size: 1.5rem;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
}


.descripcionFabDupont{
    min-height: calc(100vh - 100px);
    background-color: $colorSecciones;
    background-image: url(../img/fab-dupont-w-700.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
        & div{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            & img{
                width: 500px;
                max-height: 500px;
                max-width: 100%;
                margin: 20px;
                border-radius: 20px;
            }
            & div{
                width: 800px;
                & h3{
                    font-size: 30px;
                    color: white;
                    font-family: $fuente;
                }
                & p{
                    color: white;
                    font-size: 17px;
                    font-family: $fuente;
                    text-align: center;
                }
                & .artistas{
                    display: flex;
                    width: 100%;
                    border-top: solid 1px white;
                    padding: 10px;
                    font-style: oblique;
                    & div{
                        width: auto;
                        @extend p
                    }
                }
            }
            
        }
        
}

