.nosotros{
    min-height: calc(100vh - 100px);
    background-color: $colorSecciones;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../img/foto1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
        & .contenedorNosotros{
            margin-top: 20px;
            & .imagenesNosotros{
                max-width: 100%;
            }
            & .lista{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: white;
                position: absolute;
                opacity: 0;
                height: 226px;
                width: 226px;
                font-family: $fuenteNueva;
                font-style: oblique;
                background-color: rgba(62, 128, 161, 0.555);
                transition-duration: 1s;
                padding-left: 5px;
            }
            .lista:hover{
                opacity: 1;
            }
            @keyframes slidein {
                from {
                margin-left: 100%;
                width: 300%
                }
                to {
                margin-left: 0%;
                width: 100%;
                }
            }

            & .nombres{
                color: white;
                font-family: $fuente;
                font-size: 1.2rem;
                padding-top: 20px;
                text-align: center;
            }
        }
}








// mixins

@mixin descripcion {
    min-height: calc(100vh - 100px);
    background-color: $colorSecciones;  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
}

@mixin artistas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

@mixin imagenes {
    width: 500px;
    max-height: 500px;
    max-width: 100%;
    margin: 20px;
    border-radius: 20px;
}

// mixins





// mapas

$estilos:(
    color-letras: white,
    fuente-alto: 17px,
    ancho: 100%,
);

// mapas






.descripcionFabDupont{
    @include descripcion;
    background-image: url(../img/fabulous_room_highres.jpg);
    
        & div{
            @include artistas;
            & img{
                @include imagenes;
            }
            & div{
                width: 800px;
                & h3{
                    font-size: 30px;
                    color: map-get($estilos, color-letras);
                    font-family: $fuente;
                }
                & p{
                    color: white;
                    font-size: map-get($estilos, fuente-alto);
                    font-family: $fuente;
                    text-align: center;
                }
                & .artistas{
                    display: flex;
                    width: map-get($estilos, ancho);
                    border-top: solid 1px white;
                    padding: 10px;
                    font-style: oblique;
                    & div{
                        margin: auto 5px;
                        width: auto;
                        @extend p;
                    }
                }
            }
            
        }
}




.descripcionCrisLordAlge{
    @include descripcion;
    background-image: url(../img/chris_lord_alge_-_cla_highres.jpg);
    
        & div{
            @include artistas;
            & img{
                @include imagenes;
            }
            & div{
                width: 800px;
                & h3{
                    font-size: 30px;
                    color: map-get($estilos, color-letras);
                    font-family: $fuente;
                }
                & p{
                    color: white;
                    font-size: map-get($estilos, fuente-alto);
                    font-family: $fuente;
                    text-align: center;
                }
                & .artistas{
                    display: flex;
                    width: map-get($estilos, ancho);
                    border-top: solid 1px white;
                    padding: 10px;
                    font-style: oblique;
                    & div{
                        margin: auto 5px;
                        width: auto;
                        @extend p;
                    }
                }
            }
            
        }
}



.descripcionAndrewScheps{
    @include descripcion;
    background-image: url(../img/andrew_scheps_and_his_neve_console_highres.jpg);
    
        & div{
            @include artistas;
            & img{
                @include imagenes;
            }
            & div{
                width: 800px;
                & h3{
                    font-size: 30px;
                    color: map-get($estilos, color-letras);
                    font-family: $fuente;
                }
                & p{
                    color: white;
                    font-size: map-get($estilos, fuente-alto);
                    font-family: $fuente;
                    text-align: center;
                }
                & .artistas{
                    display: flex;
                    width: map-get($estilos, ancho);
                    border-top: solid 1px white;
                    padding: 10px;
                    font-style: oblique;
                    & div{
                        margin: auto 5px;
                        width: auto;
                        @extend p;
                    }
                }
            }
            
        }
}




.descripcionMickGuzauski{
    @include descripcion;
    background-image: url(../img/mick-guzauski_highres.jpg);
    
        & div{
            @include artistas;
            & img{
                @include imagenes;
            }
            & div{
                width: 800px;
                & h3{
                    font-size: 30px;
                    color: map-get($estilos, color-letras);
                    font-family: $fuente;
                }
                & p{
                    color: white;
                    font-size: map-get($estilos, fuente-alto);
                    font-family: $fuente;
                    text-align: center;
                }
                & .artistas{
                    display: flex;
                    width: map-get($estilos, ancho);
                    border-top: solid 1px white;
                    padding: 10px;
                    font-style: oblique;
                    & div{
                        margin: auto 5px;
                        width: auto;
                        @extend p;
                    }
                }
            }
            
        }
}




.descripcionTonyMaserati{
    @include descripcion;
    background-image: url(../img/tony-maserati-room.png);
    
        & div{
            @include artistas;
            & img{
                @include imagenes;
            }
            & div{
                width: 800px;
                & h3{
                    font-size: 30px;
                    color: white;
                    font-family: $fuente;
                }
                & p{
                    color: white;
                    font-size: 17px;
                    font-family: $fuente;
                    text-align: center;
                }
                & .artistas{
                    display: flex;
                    width: 100%;
                    border-top: solid 1px white;
                    padding: 10px;
                    font-style: oblique;
                    & div{
                        margin: auto 5px;
                        width: auto;
                        @extend p;
                    }
                }
            }
            
        }
}