// $colorSecciones: rgb(45, 44, 53);
$colorSecciones: rgb(32, 32, 32);
$colorNavegador: rgb(28, 30, 37);
$fuente: 'Shippori Antique', sans-serif;
$fuenteNueva: 'Lato', sans-serif;

$fuenteParrafo: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;