@import "variables";
@import "navegador";
@import "main";
@import "secciones";
@import "footer";
@import "nosotros";
@import "productos";
@import "precios";
@import "contacto";
@import "envios";







@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    box-sizing: border-box;
}

*{
    margin: 0pt;
    padding: 0pt;
}




/* -------------------media 0px - 320px------------------- */

@media only screen and (max-width:320px) {
    .logo{
        font-size: 5px;
    }
    
    #section1{
        display: grid;
    grid-template-areas: 
    "video"
    "texto"
    "boton"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr 0.2fr;
        & .cajaTexto{
            & .texto{
                font-size: 30px;
            }
        }
    }

    #section3{
        display: grid;
    grid-template-areas: 
    "video"
    "texto"
    "boton"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr 0.2fr;
        & .cajaTexto{
            & .texto{
                font-size: 30px;
            }
        }
    }

    

    .textoProductos{
        font-size: 30px;
    }
    
    .productos{
        display: grid;
        grid-template-areas: 
        "texto"
        "enlaces"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    .detalleProductos{
        font-size: 2rem;
    }

}
/* -------------------media 0px - 320px------------------- */



/* -------------------media 321px - 720px------------------- */

@media only screen and (min-width:321px) and (max-width:720px) {
    .logo{
        font-size: 15px;
    }
    
    #section1{
        display: grid;
    grid-template-areas: 
    "video"
    "texto"
    "boton"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr 0.2fr;
        & .cajaTexto{
            & .texto{
                font-size: 40px;
            }
        }
    }

    #section3{
        display: grid;
    grid-template-areas: 
    "video"
    "texto"
    "boton"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr 0.2fr;
        & .cajaTexto{
            & .texto{
                font-size: 40px;
            }
        }
    }

    

    .textoProductos{
        font-size: 40px;
    }
    
    .productos{
        display: grid;
        grid-template-areas: 
        "texto"
        "enlaces"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    .detalleProductos{
        font-size: 2.2rem;
    }

}

/* -------------------media 321px - 720px------------------- */






/* -------------------media 721px - 1280px------------------- */

@media only screen and (min-width:721px) and (max-width:1280px) {
    .logo{
        font-size: 20px;
    }

    #section1{
        display: grid;
    grid-template-areas: 
    "video"
    "texto"
    "boton"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr 0.2fr;
        & .cajaTexto{
            & .texto{
                font-size: 80px;
            }
        }
    }

    #section3{
        display: grid;
    grid-template-areas: 
    "video"
    "texto"
    "boton"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.8fr 0.2fr;
        & .cajaTexto{
            & .texto{
                font-size: 80px;
            }
        }
    }

    

    .textoProductos{
        font-size: 80px;
    }
    
    .productos{
        display: grid;
        grid-template-areas: 
        "texto"
        "enlaces"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
    }

    .detalleProductos{
        font-size: 3rem;
    }

}

/* -------------------media 721px - 1280px------------------- */






/* -------------------media 1280px------------------- */

@media only screen and (min-width:1281px) {
    
    .texto{
        font-size: 90px;
    }

    .textoProductos{
        font-size: 90px;
    }
    
    .detalleProductos{
        font-size: 3.2rem;
    }

}


/* -------------------media 1280px------------------- */
