/* -------------navegador---------------- */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
header {
  height: 80px;
  width: 100%;
  background-color: #1c1e25;
  position: fixed;
  z-index: 2;
}

header #navegador {
  min-height: 80px;
  background-color: #1c1e25;
}

header #navegador #logo {
  color: white;
  text-transform: uppercase;
  float: left;
  font-family: "Shippori Antique", sans-serif;
}

header #navegador #nav-bar {
  font-family: "Shippori Antique", sans-serif;
}

header #navegador #nav-bar #nav-link {
  color: #a0a0a0;
  text-decoration: none;
}

header #navegador #nav-bar #nav-link:hover {
  color: #aceeff;
}

header #navegador #nav-bar li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
}

/* -------------navegador---------------- */
/* ---------------------main----------------------------- */
main {
  padding-top: 80px;
}

#section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-size: cover;
  background-blend-mode: overlay;
  height: calc(100vh - 80px);
}

#h2 {
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  height: 50px;
  width: 700px;
  max-width: 100%;
  font-size: 50px;
}

.cajaBotonMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cajaBotonMain .botonMain {
  height: 80px;
  width: 250px;
  background-color: rgba(250, 74, 74, 0.356);
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 20px;
}

.cajaBotonMain .botonMain .tex {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  line-height: 80px;
}

.cajaBotonMain .botonMain:hover {
  color: #c7c2c2;
  background-color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

#carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 1000px;
  max-width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carousel #carouselExampleIndicators {
  height: auto;
  max-width: 100%;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
}

#carousel .carousel-item {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

#carousel .carousel-item .iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---------------------main----------------------------- */
/* --------------------------secciones----------------------- */
section {
  height: auto;
  width: 100%;
  background-color: #202020;
}

/* --------------------------secciones----------------------- */
/* -----------------------------seccion 1---------------------------- */
#section1 {
  min-height: calc(100vh - 80px);
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video texto";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#section1 .contenedorVideo {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section1 .contenedorVideo .videos1 {
  height: 378px;
  width: 672px;
  max-width: 100%;
}

#section1 .cajaTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

#section1 .cajaTexto .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 80%;
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
}

#section1 .cajaTexto p, #section1 .cajaTexto .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas #section1 .cajaTexto div {
  color: #a0a0a0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 80%;
}

#section1 .cajaBoton {
  display: -ms-grid;
  display: grid;
  grid-area: boton;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
}

#section1 .cajaBoton .boton {
  height: 80px;
  width: 250px;
  background-color: rgba(250, 74, 74, 0.356);
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-bottom: 20px;
}

#section1 .cajaBoton .boton .tex {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  line-height: 80px;
}

#section1 .cajaBoton .boton:hover {
  color: #c7c2c2;
  background-color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

/* -----------------------------seccion 1---------------------------- */
/* ----------------------------seccion 2---------------------------- */
#section2 {
  min-height: 700px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#section2 .contenedorSomos h3 {
  color: white;
  font-size: 3.2rem;
  margin-bottom: 0.5em;
  font-family: "Shippori Antique", sans-serif;
  text-transform: uppercase;
}

#section2 .contenedorSomos p, #section2 .contenedorSomos .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas #section2 .contenedorSomos div, #section2 .contenedorSomos .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas #section2 .contenedorSomos div, #section2 .contenedorSomos .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas #section2 .contenedorSomos div, #section2 .contenedorSomos .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas #section2 .contenedorSomos div, #section2 .contenedorSomos .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas #section2 .contenedorSomos div {
  font-size: 1rem;
  color: #a0a0a0;
  max-width: 500px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#section2 .contenedorSomos .cajaBoton {
  display: -ms-grid;
  display: grid;
  grid-area: boton;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
}

#section2 .contenedorSomos .cajaBoton .boton {
  background-color: rgba(250, 74, 74, 0.356);
  text-decoration: none;
  border-radius: 0.8em;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0.8em;
  margin: 0.5em;
}

#section2 .contenedorSomos .cajaBoton .boton .tex {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  margin: 0;
}

#section2 .contenedorSomos .cajaBoton .boton:hover {
  background-color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

#carouselExampleCaptions {
  width: 800px;
  max-width: 100%;
}

.carousel-caption {
  background-color: rgba(105, 105, 105, 0.349);
}

.carousel-caption h5 {
  font-size: 2rem;
}

.carousel-caption h5 a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.carousel-caption h5 a:hover {
  color: #aee0ec;
}

.carousel-caption p, .carousel-caption .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas .carousel-caption div, .carousel-caption .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas .carousel-caption div, .carousel-caption .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas .carousel-caption div, .carousel-caption .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas .carousel-caption div, .carousel-caption .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas .carousel-caption div {
  color: white;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

/* ----------------------------seccion 2---------------------------- */
/* -----------------------------------seccion 3----------------------------- */
#section3 {
  min-height: calc(100vh - 80px);
  background-image: url(../img/foto2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video texto";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#section3 .contenedorVideo {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section3 .contenedorVideo .videos1 {
  height: 378px;
  width: 672px;
  max-width: 100%;
}

#section3 .cajaTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

#section3 .cajaTexto .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 80%;
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
}

#section3 .cajaTexto p, #section3 .cajaTexto .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas #section3 .cajaTexto div, #section3 .cajaTexto .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas #section3 .cajaTexto div, #section3 .cajaTexto .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas #section3 .cajaTexto div, #section3 .cajaTexto .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas #section3 .cajaTexto div, #section3 .cajaTexto .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas #section3 .cajaTexto div {
  color: #a0a0a0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 80%;
}

#section3 .cajaBoton {
  display: -ms-grid;
  display: grid;
  grid-area: boton;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
}

#section3 .cajaBoton .boton {
  height: 80px;
  width: 250px;
  background-color: rgba(250, 74, 74, 0.356);
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-bottom: 20px;
}

#section3 .cajaBoton .boton .tex {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  line-height: 80px;
}

#section3 .cajaBoton .boton:hover {
  color: #c7c2c2;
  background-color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

/* -----------------------------------seccion 3----------------------------- */
/* -----------------------------------seccion 4----------------------------- */
#section4 {
  min-height: 800px;
  text-align: center;
}

#section4 h2 {
  color: white;
  font-family: "Shippori Antique", sans-serif;
  font-size: 2.5rem;
  padding: 3em 0 0.5em;
  margin: 0;
}

.galeriaModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#modal-content {
  width: auto;
  height: auto;
  background-color: #202020;
}

#modal-content .modal-body {
  padding: 0;
}

#modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagenModal {
  max-width: 100%;
  width: 800px;
}

.fotosModal {
  width: 450px;
  max-width: 100%;
  margin: 0.5em 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fotosModal:hover {
  opacity: 0.5;
}

.modal-footer .btn {
  color: #a0a0a0;
}

.modal-footer .btn:hover {
  color: white;
}

#btn-close {
  color: #a0a0a0;
  background-color: #a0a0a0;
}

.btn-close:hover {
  color: white;
}

.modal-title {
  color: #a0a0a0;
}

/* -----------------------------------seccion 4----------------------------- */
/* -------------------footer---------------------------- */
footer {
  background-color: #1c1e25;
  min-height: 400px;
  height: auto;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 50px;
}

footer div {
  max-width: 200px;
}

footer div .textoFooter {
  color: #a0a0a0;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 10px;
  font-family: "Shippori Antique", sans-serif;
}

footer div ul {
  padding-top: 20px;
}

footer div ul li {
  list-style-type: none;
  margin: 20px 0;
  color: #a0a0a0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

footer div ul li .icon {
  color: #a0a0a0;
  font-size: 1.2rem;
  margin-right: 10px;
}

footer div ul li .iconR:hover {
  color: #aceeff;
}

footer div ul li a {
  text-decoration: none;
  color: #a0a0a0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

footer div ul li a:hover {
  color: #aceeff;
}

/* -------------------footer---------------------------- */
.nosotros {
  min-height: calc(100vh - 100px);
  background-color: #202020;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotros .integrantes {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Shippori Antique", sans-serif;
  margin-bottom: 2.5em;
}

.nosotros .cajaN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nosotros .cajaN .contenedorNosotros {
  margin-top: 20px;
}

.nosotros .cajaN .contenedorNosotros .imagenesNosotros {
  max-width: 100%;
}

.nosotros .cajaN .contenedorNosotros .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  position: absolute;
  opacity: 0;
  height: 226px;
  width: 226px;
  font-family: "Lato", sans-serif;
  font-style: oblique;
  background-color: rgba(62, 128, 161, 0.555);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  padding-left: 5px;
}

.nosotros .cajaN .contenedorNosotros .lista:hover {
  opacity: 1;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.nosotros .cajaN .contenedorNosotros .nombres {
  color: white;
  font-family: "Shippori Antique", sans-serif;
  font-size: 1.2rem;
  padding-top: 20px;
  text-align: center;
}

.descripcionFabDupont {
  min-height: calc(100vh - 100px);
  background-color: #202020;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/fabulous_room_highres.jpg);
}

.descripcionFabDupont div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionFabDupont div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionFabDupont div div {
  width: 800px;
}

.descripcionFabDupont div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionFabDupont div div p, .descripcionFabDupont div div .artistas div {
  color: #b8b8b8;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.descripcionFabDupont div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionFabDupont div div .artistas div {
  margin: auto 5px;
  width: auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.descripcionCrisLordAlge {
  min-height: calc(100vh - 100px);
  background-color: #202020;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/chris_lord_alge_-_cla_highres.jpg);
}

.descripcionCrisLordAlge div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionCrisLordAlge div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionCrisLordAlge div div {
  width: 800px;
}

.descripcionCrisLordAlge div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionCrisLordAlge div div p, .descripcionCrisLordAlge div div .artistas div {
  color: #b8b8b8;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.descripcionCrisLordAlge div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionCrisLordAlge div div .artistas div {
  margin: auto 5px;
  width: auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.descripcionAndrewScheps {
  min-height: calc(100vh - 100px);
  background-color: #202020;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/andrew_scheps_and_his_neve_console_highres.jpg);
}

.descripcionAndrewScheps div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionAndrewScheps div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionAndrewScheps div div {
  width: 800px;
}

.descripcionAndrewScheps div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionAndrewScheps div div p, .descripcionAndrewScheps div div .artistas div {
  color: #b8b8b8;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.descripcionAndrewScheps div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionAndrewScheps div div .artistas div {
  margin: auto 5px;
  width: auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.descripcionMickGuzauski {
  min-height: calc(100vh - 100px);
  background-color: #202020;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/mick-guzauski_highres.jpg);
}

.descripcionMickGuzauski div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionMickGuzauski div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionMickGuzauski div div {
  width: 800px;
}

.descripcionMickGuzauski div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionMickGuzauski div div p, .descripcionMickGuzauski div div .artistas div {
  color: #b8b8b8;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.descripcionMickGuzauski div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionMickGuzauski div div .artistas div {
  margin: auto 5px;
  width: auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.descripcionTonyMaserati {
  min-height: calc(100vh - 100px);
  background-color: #202020;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/tony-maserati-room.png);
}

.descripcionTonyMaserati div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionTonyMaserati div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionTonyMaserati div div {
  width: 800px;
}

.descripcionTonyMaserati div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionTonyMaserati div div p, .descripcionTonyMaserati div div .artistas div {
  color: #b8b8b8;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.descripcionTonyMaserati div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionTonyMaserati div div .artistas div {
  margin: auto 5px;
  width: auto;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

/* ------------------productos--------------------- */
.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: #202020;
  background-image: url(../img/foto2.jpg);
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.productos .cajaDetalleProductos {
  height: auto;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productos .cajaDetalleProductos .detalleProductos {
  color: white;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Shippori Antique", sans-serif;
  margin: 10px;
  max-width: 800px;
}

.productos .cajaDetalleProductos p, .productos .cajaDetalleProductos .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas .productos .cajaDetalleProductos div {
  color: #a0a0a0;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  max-width: 800px;
}

.productos .contenedorEnlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  bottom: 100px;
  right: 100px;
  max-width: 100%;
  margin-top: 20px;
}

.productos .contenedorEnlaces .textoEnlace {
  height: 50px;
  padding: 0 0.8em;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  background-color: rgba(250, 74, 74, 0.356);
  border-radius: 0.8em;
  margin: 5px;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 1.8em;
}

.productos .contenedorEnlaces .textoEnlace:hover {
  color: white;
  background-color: red;
}

.sectionProductos {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: #202020;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/foto2.jpg);
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.sectionProductos .contenedorProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #101010;
  border-radius: 20px;
}

.sectionProductos .contenedorProductos .contenedorTextoProductos {
  width: 800px;
}

.sectionProductos .contenedorProductos .contenedorTextoProductos .textoProductos {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Shippori Antique', sans-serif;
  margin-bottom: 25px;
}

.sectionProductos .contenedorProductos .contenedorTextoProductos .descripcionProductos {
  color: #a0a0a0;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sectionProductos .contenedorProductos .fotoProducto {
  max-width: 100%;
  width: 500px;
  border-radius: 20px;
}

/* ------------------productos--------------------- */
/* -----------------precios--------------------------- */
.preciosMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 100px);
  height: auto;
  width: 100%;
  background-color: #202020;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-blend-mode: overlay;
}

.preciosMain .contenedorPrecios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preciosMain .contenedorPrecios .cajaPrecios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  min-height: 300px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
}

.preciosMain .contenedorPrecios .cajaPrecios p, .preciosMain .contenedorPrecios .cajaPrecios .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas .preciosMain .contenedorPrecios .cajaPrecios div, .preciosMain .contenedorPrecios .cajaPrecios .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas .preciosMain .contenedorPrecios .cajaPrecios div, .preciosMain .contenedorPrecios .cajaPrecios .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas .preciosMain .contenedorPrecios .cajaPrecios div, .preciosMain .contenedorPrecios .cajaPrecios .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas .preciosMain .contenedorPrecios .cajaPrecios div, .preciosMain .contenedorPrecios .cajaPrecios .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas .preciosMain .contenedorPrecios .cajaPrecios div {
  color: white;
  font-size: 1.2rem;
  font-family: "Shippori Antique", sans-serif;
  margin: 1em;
}

.preciosMain .contenedorPrecios .cajaPrecios .textoPrecios {
  font-size: 25px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: rgba(250, 74, 74, 0.356);
}

.preciosMain .contenedorPrecios .cajaPrecios .textoPrecios:hover {
  background-color: red;
}

/* -----------------precios--------------------------- */
/* ---------------------------- contacto --------------------------- */
.contenedorFormulario {
  display: -ms-grid;
  display: grid;
  min-height: calc(100vh - 100px);
  height: auto;
  width: 100%;
  background-color: #202020;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-blend-mode: overlay;
}

.formulario {
  height: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(45, 44, 53, 0.712);
  color: white;
  font-family: 'Shippori Antique', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.formulario h2 {
  color: white;
  font-family: "Shippori Antique", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.formulario .cajaForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.formulario .cajaForm div {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 500px;
  font-family: "Shippori Antique", sans-serif;
}

.formulario .botonesForm {
  max-width: 100%;
  text-align: center;
  font-family: "Shippori Antique", sans-serif;
}

.formulario .botonesForm input {
  width: 250px;
}

/* ---------------------------- contacto --------------------------- */
/* --------------------envios--------------------------------- */
.contenedorEnvios {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: #202020;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formularioEnvios {
  min-height: 500px;
  width: 100%;
  background-color: rgba(45, 44, 53, 0.712);
  color: white;
  font-family: 'Shippori Antique', sans-serif;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* --------------------envios--------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0pt;
  padding: 0pt;
}

/* -------------------media 0px - 320px------------------- */
@media only screen and (max-width: 320px) {
  .logo {
    font-size: 5px;
  }
  #section1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section1 .cajaTexto .texto {
    font-size: 30px;
  }
  #section3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section3 .cajaTexto .texto {
    font-size: 30px;
  }
  .textoProductos {
    font-size: 30px;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "texto" "enlaces";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .detalleProductos {
    font-size: 2rem;
  }
}

/* -------------------media 0px - 320px------------------- */
/* -------------------media 321px - 720px------------------- */
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .logo {
    font-size: 15px;
  }
  #section1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section1 .cajaTexto .texto {
    font-size: 40px;
  }
  #section3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section3 .cajaTexto .texto {
    font-size: 40px;
  }
  .textoProductos {
    font-size: 40px;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "texto" "enlaces";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .detalleProductos {
    font-size: 2.2rem;
  }
}

/* -------------------media 321px - 720px------------------- */
/* -------------------media 721px - 1280px------------------- */
@media only screen and (min-width: 721px) and (max-width: 1280px) {
  .logo {
    font-size: 20px;
  }
  #section1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section1 .cajaTexto .texto {
    font-size: 80px;
  }
  #section3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section3 .cajaTexto .texto {
    font-size: 80px;
  }
  .textoProductos {
    font-size: 80px;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "texto" "enlaces";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .detalleProductos {
    font-size: 3rem;
  }
}

/* -------------------media 721px - 1280px------------------- */
/* -------------------media 1280px------------------- */
@media only screen and (min-width: 1281px) {
  .texto {
    font-size: 90px;
  }
  .textoProductos {
    font-size: 90px;
  }
  .detalleProductos {
    font-size: 3.2rem;
  }
}

/* -------------------media 1280px------------------- */
/*# sourceMappingURL=estilos.css.map */