/* -------------navegador---------------- */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
header {
  height: 80px;
  width: 100%;
  background-color: #1c1e25;
  position: fixed;
  z-index: 1;
}

header #navegador {
  min-height: 80px;
  background-color: #1c1e25;
}

header #navegador #logo {
  color: white;
  text-transform: uppercase;
  float: left;
  font-family: "Shippori Antique", sans-serif;
}

header #navegador #nav-bar {
  font-family: "Shippori Antique", sans-serif;
}

header #navegador #nav-bar #nav-link {
  color: white;
  text-decoration: none;
}

header #navegador #nav-bar #nav-link:hover {
  color: #aceeff;
}

header #navegador #nav-bar li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
}

/* -------------navegador---------------- */
/* ---------------------main----------------------------- */
main {
  padding-top: 80px;
}

#section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-size: cover;
  background-blend-mode: overlay;
}

#h2 {
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  height: 50px;
  width: 700px;
  max-width: 100%;
  font-size: 50px;
}

.cajaBotonMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cajaBotonMain .botonMain {
  height: 80px;
  width: 250px;
  background-color: rgba(250, 74, 74, 0.356);
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 20px;
}

.cajaBotonMain .botonMain .tex {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  line-height: 80px;
}

.cajaBotonMain .botonMain:hover {
  color: #c7c2c2;
  background-color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

#carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 700px;
  max-width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carousel #carouselExampleIndicators {
  height: auto;
  max-width: 100%;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
}

#carousel .carousel-item {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

#carousel .carousel-item .iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---------------------main----------------------------- */
/* --------------------------secciones----------------------- */
.section {
  min-height: calc(100vh - 80px);
  height: auto;
  width: 100%;
  background-color: #2d2c35;
}

/* --------------------------secciones----------------------- */
/* -----------------------------seccion 1---------------------------- */
#section1 {
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video texto";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#section1 .contenedorVideo {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section1 .contenedorVideo .videos1 {
  height: 315px;
  width: 560px;
  max-width: 100%;
}

#section1 .cajaTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

#section1 .cajaTexto .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 80%;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
}

#section1 .cajaTexto p, #section1 .cajaTexto .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas #section1 .cajaTexto div, #section1 .cajaTexto .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas #section1 .cajaTexto div {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  width: 80%;
}

#section1 .cajaBoton {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: boton;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
}

#section1 .cajaBoton .boton {
  height: 80px;
  width: 250px;
  background-color: rgba(250, 74, 74, 0.356);
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin-bottom: 20px;
}

#section1 .cajaBoton .boton .tex {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  line-height: 80px;
}

#section1 .cajaBoton .boton:hover {
  color: #c7c2c2;
  background-color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

/* -----------------------------seccion 1---------------------------- */
/* ----------------------------seccion 2---------------------------- */
.fotosEquipos {
  padding: 25px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.fotosEquipos:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* ----------------------------seccion 2---------------------------- */
/* -----------------------------------seccion 3----------------------------- */
#section3 {
  background-image: url(../img/foto2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video texto" "boton boton";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
}

#section3 .contenedorVideo {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section3 .contenedorVideo .videos1 {
  height: 315px;
  width: 560px;
  max-width: 100%;
}

#section3 .cajaTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#section3 .cajaTexto .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  color: white;
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
}

#section3 .cajaBoton {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: boton;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#section3 .cajaBoton .boton {
  height: 100px;
  width: 300px;
  background-color: rgba(250, 74, 74, 0.356);
  text-decoration: none;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  animation-direction: alternate-reverse;
}

#section3 .cajaBoton .boton .tex {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  line-height: 100px;
}

#section3 .cajaBoton .boton:hover {
  color: #c7c2c2;
  background-color: red;
  -webkit-animation: bounce 1s linear;
          animation: bounce 1s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes bounce {
  20%, 50%, 80%, to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  90% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

/* -----------------------------------seccion 3----------------------------- */
/* -------------------footer---------------------------- */
footer {
  background-color: #1c1e25;
  min-height: 100px;
  height: auto;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer div {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .textoFooter {
  width: 50%;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 10px;
}

footer ul {
  width: 80%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul li {
  color: white;
  list-style-type: none;
  font-size: 12px;
}

footer ul li .icon {
  color: white;
  font-size: 30px;
}

footer ul li .icon:hover {
  color: #aceeff;
}

/* -------------------footer---------------------------- */
.nosotros {
  min-height: calc(100vh - 100px);
  background-color: #2d2c35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
}

.nosotros .contenedorNosotros {
  margin-top: 20px;
}

.nosotros .contenedorNosotros .imagenesNosotros {
  max-width: 100%;
}

.nosotros .contenedorNosotros .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  position: absolute;
  opacity: 0;
  height: 226px;
  width: 226px;
  font-family: "Lato", sans-serif;
  font-style: oblique;
  background-color: rgba(62, 128, 161, 0.555);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  font-weight: 10;
  padding-left: 5px;
}

.nosotros .contenedorNosotros .lista:hover {
  opacity: 1;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.nosotros .contenedorNosotros .nombres {
  color: white;
  font-family: "Shippori Antique", sans-serif;
  font-size: 1.2rem;
  padding-top: 20px;
  text-align: center;
}

.descripcionFabDupont {
  min-height: calc(100vh - 100px);
  background-color: #2d2c35;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/fabulous_room_highres.jpg);
}

.descripcionFabDupont div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionFabDupont div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionFabDupont div div {
  width: 800px;
}

.descripcionFabDupont div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionFabDupont div div p, .descripcionFabDupont div div .artistas div {
  color: white;
  font-size: 17px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.descripcionFabDupont div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionFabDupont div div .artistas div {
  margin: auto 5px;
  width: auto;
}

.descripcionCrisLordAlge {
  min-height: calc(100vh - 100px);
  background-color: #2d2c35;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/chris_lord_alge_-_cla_highres.jpg);
}

.descripcionCrisLordAlge div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionCrisLordAlge div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionCrisLordAlge div div {
  width: 800px;
}

.descripcionCrisLordAlge div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionCrisLordAlge div div p, .descripcionCrisLordAlge div div .artistas div {
  color: white;
  font-size: 17px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.descripcionCrisLordAlge div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionCrisLordAlge div div .artistas div {
  margin: auto 5px;
  width: auto;
}

.descripcionAndrewScheps {
  min-height: calc(100vh - 100px);
  background-color: #2d2c35;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/andrew_scheps_and_his_neve_console_highres.jpg);
}

.descripcionAndrewScheps div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionAndrewScheps div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionAndrewScheps div div {
  width: 800px;
}

.descripcionAndrewScheps div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionAndrewScheps div div p, .descripcionAndrewScheps div div .artistas div {
  color: white;
  font-size: 17px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.descripcionAndrewScheps div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionAndrewScheps div div .artistas div {
  margin: auto 5px;
  width: auto;
}

.descripcionMickGuzauski {
  min-height: calc(100vh - 100px);
  background-color: #2d2c35;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/mick-guzauski_highres.jpg);
}

.descripcionMickGuzauski div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionMickGuzauski div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionMickGuzauski div div {
  width: 800px;
}

.descripcionMickGuzauski div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionMickGuzauski div div p, .descripcionMickGuzauski div div .artistas div {
  color: white;
  font-size: 17px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.descripcionMickGuzauski div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionMickGuzauski div div .artistas div {
  margin: auto 5px;
  width: auto;
}

.descripcionTonyMaserati {
  min-height: calc(100vh - 100px);
  background-color: #2d2c35;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url(../img/tony-maserati-room.png);
}

.descripcionTonyMaserati div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.descripcionTonyMaserati div img {
  width: 500px;
  max-height: 500px;
  max-width: 100%;
  margin: 20px;
  border-radius: 20px;
}

.descripcionTonyMaserati div div {
  width: 800px;
}

.descripcionTonyMaserati div div h3 {
  font-size: 30px;
  color: white;
  font-family: "Shippori Antique", sans-serif;
}

.descripcionTonyMaserati div div p, .descripcionTonyMaserati div div .artistas div {
  color: white;
  font-size: 17px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

.descripcionTonyMaserati div div .artistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: solid 1px white;
  padding: 10px;
  font-style: oblique;
}

.descripcionTonyMaserati div div .artistas div {
  margin: auto 5px;
  width: auto;
}

/* ------------------productos--------------------- */
.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: auto;
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: #2d2c35;
  background-image: url(../img/foto2.jpg);
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.productos .cajaDetalleProductos {
  height: auto;
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productos .cajaDetalleProductos .detalleProductos {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Shippori Antique', sans-serif;
  margin: 10px;
}

.productos .cajaDetalleProductos p, .productos .cajaDetalleProductos .descripcionFabDupont div div .artistas div, .descripcionFabDupont div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionCrisLordAlge div div .artistas div, .descripcionCrisLordAlge div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionAndrewScheps div div .artistas div, .descripcionAndrewScheps div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionMickGuzauski div div .artistas div, .descripcionMickGuzauski div div .artistas .productos .cajaDetalleProductos div, .productos .cajaDetalleProductos .descripcionTonyMaserati div div .artistas div, .descripcionTonyMaserati div div .artistas .productos .cajaDetalleProductos div {
  color: white;
  font-size: 20px;
  font-family: "Shippori Antique", sans-serif;
  margin: 10px;
}

.productos .contenedorEnlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  position: fixed;
  bottom: 100px;
  right: 100px;
  max-width: 100%;
}

.productos .contenedorEnlaces .textoEnlace {
  height: 50px;
  padding: 0px 20px;
  font-size: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Shippori Antique", sans-serif;
  background-color: rgba(250, 74, 74, 0.356);
  border-radius: 20px;
  margin: 5px;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productos .contenedorEnlaces .textoEnlace:hover {
  color: white;
  background-color: red;
}

.sectionProductos {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-color: #2d2c35;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/foto2.jpg);
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.sectionProductos .contenedorProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #101010;
}

.sectionProductos .contenedorProductos .contenedorTextoProductos {
  width: 800px;
}

.sectionProductos .contenedorProductos .contenedorTextoProductos .textoProductos {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Shippori Antique', sans-serif;
}

.sectionProductos .contenedorProductos .contenedorTextoProductos .descripcionProductos {
  color: white;
  font-size: 1.5rem;
  font-family: 'Shippori Antique', sans-serif;
}

.sectionProductos .contenedorProductos .fotoProducto {
  max-width: 100%;
  width: 500px;
  border-radius: 20px;
}

/* ------------------productos--------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0pt;
  padding: 0pt;
}

/* -----------------precios--------------------------- */
.precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #2d2c35;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-blend-mode: overlay;
}

.contenedorPrecios {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.textoPrecios {
  font-size: 40px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Shippori Antique', sans-serif;
  margin: 20px;
}

.botonPrecios {
  background-color: rgba(45, 44, 53, 0.712);
  text-align: center;
}

.botonPrecios:hover {
  color: #c7c2c2;
  background-color: red;
}

/* -----------------precios--------------------------- */
/* ---------------------------- contacto --------------------------- */
.contenedorFormulario {
  display: -ms-grid;
  display: grid;
  min-height: calc(100vh - 100px);
  height: auto;
  width: 100%;
  background-color: #2d2c35;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-blend-mode: overlay;
}

.formulario {
  height: 700px;
  max-width: 500px;
  background-color: rgba(45, 44, 53, 0.712);
  color: white;
  font-family: 'Shippori Antique', sans-serif;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px;
}

/* ---------------------------- contacto --------------------------- */
/* --------------------envios--------------------------------- */
.contenedorEnvios {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  background-image: url(../img/foto1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.formularioEnvios {
  height: 300px;
  /* width: 500px; */
  width: auto;
  background-color: rgba(45, 44, 53, 0.712);
  color: white;
  font-family: 'Shippori Antique', sans-serif;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* --------------------envios--------------------------------- */
/* -------------------media 0px - 320px------------------- */
@media only screen and (max-width: 320px) {
  .logo {
    font-size: 5px;
  }
  #section1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section1 .cajaTexto .texto {
    font-size: 30px;
  }
  #section3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section3 .cajaTexto .texto {
    font-size: 30px;
  }
  .textoProductos {
    font-size: 30px;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "texto" "enlaces";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .detalleProductos {
    font-size: 2rem;
  }
}

/* -------------------media 0px - 320px------------------- */
/* -------------------media 321px - 720px------------------- */
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .logo {
    font-size: 15px;
  }
  #section1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section1 .cajaTexto .texto {
    font-size: 40px;
  }
  #section3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section3 .cajaTexto .texto {
    font-size: 40px;
  }
  .textoProductos {
    font-size: 40px;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "texto" "enlaces";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .detalleProductos {
    font-size: 2.2rem;
  }
}

/* -------------------media 321px - 720px------------------- */
/* -------------------media 721px - 1280px------------------- */
@media only screen and (min-width: 721px) and (max-width: 1280px) {
  .logo {
    font-size: 20px;
  }
  #section1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section1 .cajaTexto .texto {
    font-size: 80px;
  }
  #section3 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "video" "texto" "boton";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.8fr 0.2fr;
        grid-template-rows: 1fr 0.8fr 0.2fr;
  }
  #section3 .cajaTexto .texto {
    font-size: 80px;
  }
  .textoProductos {
    font-size: 80px;
  }
  .productos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "texto" "enlaces";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .detalleProductos {
    font-size: 3rem;
  }
}

/* -------------------media 721px - 1280px------------------- */
/* -------------------media 1280px------------------- */
@media only screen and (min-width: 1281px) {
  .texto {
    font-size: 90px;
  }
  .textoProductos {
    font-size: 90px;
  }
  .detalleProductos {
    font-size: 3.2rem;
  }
}

/* -------------------media 1280px------------------- */
/*# sourceMappingURL=estilos.css.map */